/* COLORS 

color-grey-light - #a4b1b5
color-black - #040d14

color-primary-light - #edf7fb;
color-primary - #5fc0e7
color-primary-dark - #c5cfd6

color-success - #21ce99
color-error - #f45531
*/

*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #fff;
    color: #040d14;
}

h1, h2, h3, h4, h5, p, a {
    font-family: 'Roboto', sans-serif;
}

/*
    ==========================
            AUTH PAGE
    ==========================
 */

.auth {
    height: 100vh;
    width: 100%;
}

.auth__form {
    max-width: 100%;
    width: 380px;
    padding: 15px;
    margin: auto;
}

.auth__form-title {
    font-weight: 100!important;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 400;
    color: #040d14;
    background: #fafafa;
    border: 1px solid #cbcbcd

}

.auth__link {
    color: #a4b1b5;
}

.auth__link a {
    color: #5fc0e7;
}

/* color for user input */
input:not(:placeholder-shown) {
    color:  #040d14!important;
}

/* color for placeholders */
.form-control::-webkit-input-placeholder { color: #040d14; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #040d14; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #040d14;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #040d14; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #040d14;}  /* Microsoft Edge */

.btn-primary {
    background: #5fc0e7;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
    background: #c5cfd6;
    outline: none;
}

.auth__form-error {
    color: #f45531;
    font-weight: 300;
    /* #fbe7e4 */
}

/*
    ==========================
          PORTFOLIO PAGE
    ==========================
*/

/*  NAVBAR  */
.navbar-brand {
    font-size: 15px;
    color: #040d14; 
}

.nav-logo {
    width: 45px;
}

.nav-exit {
    width: 20px;
}

.navbar-user {
    font-size: 15px;
    color: #5fc0e7;
}

.nav-link {
    color: #040d14; 
}

a:hover {
    color: #5fc0e7;
}


/*  USER PANEL  */
.user-panel {
    padding: 20px;
    background: #edf7fb;
    border-radius: 5px;
}

.user-panel__weekday, .user-panel__username {
    font-size: 30px;
    font-weight: 200;
}

.user-panel__date {
    font-size: 15px;
    font-weight: 200;
}

.user-panel__balance-title {
    color: #a4b1b5;
}

.user-panel__balance {
    font-size: 40px;
    font-weight: 300;
    color: #5fc0e7;
}


/*  PORTFOLIO SECTION  */
.portfolio {
    border-right: 1px solid #bfbebe;
} 

.portfolio__title, .purchase__title, .transactions__title {
    font-size: 20px;
    font-weight: 300;
}

.portfolio__money {
    font-weight: 100;
    font-size: 25px;
}

/* .stock__shares {
    color: #babdbf;
} */

tbody tr:first-child > td{
    border-top: none;
}

td span {
    font-size: 15px;
}

.form-error {
    color: #f45531;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    background: #fbeded;
    border-radius: 5px;
    padding: 15px;
}

.form-success {
    color: #41bd86;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    background: #edfbef;
    border-radius: 5px;
    padding: 15px;
}

.stock-up {
    background: #ecfbf4;
    color: #72d8ac;
    border-radius: 5px;
    padding: 5px 20px;
}

.stock-down {
    background: #fbecec;
    color: #e43c3c;
    border-radius: 5px;
    padding: 5px 20px;
}

.stock-same {
    background: #f5f7f6;
    color: #afafaf;
    border-radius: 5px;
    padding: 5px 20px;
}


/*
    ==========================
        TRANSACTIONS PAGE
    ==========================
 */
 .transactions__table-heading, .portfolio__table-heading {
    background: #fafafa; 
    /* Color for table head and should also be the input color  */
}

.transactions__table-heading  tr:first-child > th,
.portfolio__table-heading tr:first-child > th{
    border: none;
}

.transaction__quantity, .transaction__total, .transaction__type, .stock__shares {
    font-weight: 100;
}



/*
    ==========================
          MEDIA QUERIES
    ==========================
 */

/* Small devices (landscape phones and up) */
@media only screen and (min-width : 576px) and (max-width:768px){
    .portfolio {
        border-right: none;
    }
}